html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-color: #E9AFA3;
}
main{
    color: black;
    margin:20px;
    border-radius:5%;
    background-color: #F9DEC9;
    padding:20px;
    box-shadow: 10px 5px 5px black;
}
#historia{
    text-align: center;
    padding-bottom: 20px;
}
#historia header{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
}
.historia{
    border-radius: 10%;
    background-color: #F9DEC9;
    padding:20px;
    display:inline-block;
    width:85%;
}
.historia h1{
    font-size: 2rem;
    padding-bottom: 20px;
}
.historia p{
    text-align: justify;
    padding-bottom: 20px;
}
.historia img{
    border-radius: 10%;
    width: 50%;
    height:40%;
}
#carrera{
    text-align: center;
    padding-bottom: 20px;
}
.carrera{
    border-radius: 10%;
    background-color: #F9DEC9;
    padding:20px;
    display:inline-block;
    width:85%;
}
.carrera h2{
    font-size: 1.5rem;
    padding-bottom: 20px;
    text-align: left;
}
.carrera p{
    text-align: justify;
    padding-bottom: 20px;
}
.carrera h3{
    font-size: 1.5rem;
    padding-bottom: 20px;
    text-align: left;
}
#contribuciones{
    text-align: center;
    padding-bottom: 20px;
}
.contribuciones{
    border-radius: 10%;
    background-color: #F9DEC9;
    padding:20px;
    display:inline-block;
    width:85%;
}
.contribuciones h2{
    font-size: 1.5rem;
    padding-bottom: 20px;
    text-align: left;
}
.contribuciones h3{
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
    text-align: left;
}
.contribuciones ul{
    list-style: none;    
    text-align: left;
    padding-bottom: 20px;
}

#discografía{
    text-align: center;
    padding-bottom: 20px;
}
.discografía{
    border-radius: 10%;
    background-color: #F9DEC9;
    padding:20px;
    display:inline-block;
    width:85%;
}
.discografía h2{
    font-size: 1.5rem;
    padding-bottom: 20px;
}
.discografía h3{
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
}
.discografía ol{
    list-style: none;    
}

footer{
    display:block;
    background-color: black;
    color: white;
    text-align: center;
}
